.Universal-Service {
  background-color: white;

  .service-Content {
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      h1{
        font-size: 3.2vw;
        padding: 2vw 0vw;
      }
      p{
        font-size: 1vw;
        color: rgb(77, 77, 77);
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        padding: 0vw 0vw 2vw 0vw;
      }
    }
  }
}
