// changing footer colour accordingly

.black {
     color: rgb(31, 31, 31);
  
}
.white {
  color: white;
}

.Universal-Contact {
  //   background-color: #1f2730;
  padding: 5vw 5.5vw 0vw 5.5vw;

  .header {
    // border: 1px solid red;
    padding-top: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    h1 {
      font-family: "Montserrat", sans-serif;
      color: white;
      font-weight: 600;
      font-size: 3vw;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      padding: 1.6vw 0vw;
      // color: rgb(31, 31, 31);
      font-size: 1vw;
      line-height: 2vw;
    
    }
  }

  .call-email-address {
    //display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: center;
    padding: 2vw 0vw 8vw 0vw;
    // background-color:  red;
    .address {
      // background-color: hotpink;
      width: 28vw !important;
      img {
        margin-right: 1.2vw;
      }
    }
    .row {
      // border: 1px solid white;
      display: flex;
      align-items: start;
      text-align: left;
      justify-content: center;
      padding: 0.8vw;
      width: 20vw;

      img {
        width: 3.2vw;
        margin: 0vw 1.2vw;
      }
      .details {
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        
        h1 {
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 1.5vw;
        }

        a {
          font-size: 1vw;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          // color: rgb(31, 31, 31);
          padding: 0.5vw 0vw;
        }
      }
    }
    /*.column{
      flex-direction: column;
      padding-top: 10vw;
      margin-right: 90rem;
      padding-bottom: 20vw;
      padding-right: 100%;
      padding-left: -20vw;

      img {
        width: 3.2vw;
        margin: 0vw 1.2vw;
      }
    }*/    
  }
  .address {
    // background-color: hotpink;
    display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    //width: 28vw !important;
    padding-left: 25vw;
    margin-top: -26vw;
    display: flex;
    line-height: 2vw;
    .details{
      width: 28vw;
      font-size: 0.95vw;
      //line-height: 2vw;
      //justify-content: space-between;
      align-items: start;

      //row-gap: 2em;
       h1{
        padding-top: 7vw;
        font-weight: bold;
        //justify-content: space-around;
      }
      h4{
        font-weight: bold;
      }
      a {
        font-size: 1vw;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        // color: rgb(31, 31, 31);
        //justify-content: space-between;
      }
    }
    img {
      width: 3.5vw;
      padding-bottom: 8vw;
      margin-right: 1.2vw;
    }
    .started {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #1d2b3a;
      width: 35vw;
      //height: 33vh;
      margin-top: 6vw;
      margin-left: 15vw;
      margin-bottom: 1vw;
      margin-right: 1vw;
      border-radius: 1vw;
    }

    .started input {
      background: #1d2b3a;
      width: 18vw;
      height: 5vh;
      margin-top: 1vw;
      border: 1px solid whitesmoke;
      padding-left: 1vw;
      border-radius: 5vw;
      outline: none;
      color: #fff;
      font-size: 0.75em;
      margin-left: 1vw;
      justify-content: center;
    }
    .started textarea{
      background: #1d2b3a;
      width: 18vw;
      height: 10vh;
      margin-top: 1vw;
      border: 1px solid whitesmoke;
      padding-left: 1vw;
      //padding-top: 2vw;
      border-radius: 1vw;
      outline: none;
      color: #fff;
      font-size: 0.75em;
      margin-left: 1vw;
      justify-content: center;
    }

        .arrow button {
            color: black;
            cursor: pointer;
            border-radius: 5vw;
            width: 8vw;
            height: 3vw;
            background-color: orangered;
            justify-content: flex-start;
            align-items: start;
            margin-left: 6vw;
            margin-top: 1vw;
            margin-bottom: 0.5vw;
            font-family: 'Oswald', sans-serif;

      .right {
        width: 5vw;
        font-size: 1.75vw;
      }
    }
  }

  .map {
    color: white;
    display: flex;
    // width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    flex-direction: column;
    margin-right: auto;
    padding: 1.2vw 0vw 5vw 0vw;

    .location {
      p{
        color : black;
      }
    }
    h1 {
      // padding: 5vw 0vw;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      padding: 2vw 0vw;
      font-size: 1.1vw;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.mini-footer {
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  p a {
    color: #e95c28;
    font-size: 1.3vw;
    //margin-top: 20vw;
    font-family: "Montserrat", sans-serif;
  }
}
